* {
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;

}

html::-webkit-scrollbar {
    display: none;
}

nav {
    width: 100%;
    box-sizing: border-box;
    height: 90px;
    background-color: rgb(72, 187, 107);
    padding: 10px;
    box-shadow: 0px 12px 12px #b4b4b4e3;
}

dt {
    font-size: 1.2em;
    font-family: Poppins;
    color: #1e1e1e;
    font-weight: bold;
}

dd {
    font-size: 1.2em;
    font-family: Poppins;
    color: #1e1e1e;
    font-style: italic;
}

ul li {
    
    list-style: none;
    display: inline-block;
    float: right;

}

.logo {
    margin-left: 40px;
    width: 70px; 
    height: 70px;
}

.img {
    width: 1000px;
    max-width: 100%;
    height: auto;
    background-color: #00bbff4f;
}

.figure {
    border-style: solid;
    border-color: #3af3293f;
    border-width: 5px;
    width: 990px;
    max-width: 100%;
    height: auto;
}


ul li a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 400;
    font-family: Poppins;
    color: #202020;
    line-height: 65px;
    padding: 0 35px;

}

.github {
    width: 70px;
    height: 70px;

}

.container {
    font-family: Poppins;
    background-color: #FFFFFF;
    margin-top: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;


}

h1 {
    text-align: left;
    font-size: 2.5em;
    font-weight: 600;
    font-family: Poppins;
    color: black;

}

.author, .figcaption {
    font-size: 1em;
    font-family: Poppins;
    font-style: italic;
    color: #1e1e1e;
}

h2 {
    font-size: 2.2em;
    text-align: left;
    font-weight: 450;
    font-family: Poppins;
    color: black;

}

h3 {
    font-size: 1.7em;
    text-align: left;
    font-weight: 450;
    font-family: Poppins;
    font-size: 20px;
    color: black;
}

.keyword {
    font-family: Poppins;
    color: #00b8e6;

}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
  }
  

.references {
    overflow: hidden;
    padding: 25px;
    background-color: #3af3293f;
    display: flex;
    flex-direction: column;

}

.tip {
    background-color: #b0ffb1;
    font-style: italic;
    padding: 1em;
    border-style: solid;
    border-color: #3af3293f;
    border-width: 5px;
}

p, ol {
    font-size: 1.2em;
    font-family: Poppins;
    color: #1e1e1e
}


